
/*=============================================================================
                                  CSS GENERAL
===========================================================================*/

html, body {
  height: 100%;


}

body {
  font-family: 'Roboto Condensed', sans-serif;
}

h3 {
  text-transform: uppercase;
  color: #41464B;
}

p {
  color: #64707b;
  font-size: 16px;
  font-weight: 300;
  text-align: justify !important;
}


/*=============================================================================
                                  LOADER
===========================================================================*/


#loader {

	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
  background: url(../img/loader.gif) center no-repeat #fff;

}


.noloader{
  display: none !important;
}




/*=============================================================================
                                  NAVIGATION
===========================================================================*/



.navbar{
  padding: 20px 0px;
  transition: all .5s ease-in-out; /*Hace del efecto del ocultamiento del style del menú mas suave */
}

.navbar-brand{
  position: block;
}

.cg-top-nav{
  background: rgb(255, 254, 254);
  padding: 7px 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.cg-nav-wrapper{
  padding: 0 85px;
}

.navbar-nav{
  float: right;
}

.navbar-nav > li > a{
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}

.navbar-nav > li > a:hover, .navbar-nav > li > a:focus{
  background: none;
}

.navbar-toggle{
  background-color: rgba(0,0,0,0.1);
  border: 1px solid #fff;
  border-radius: 0;
}

.navbar-toggle .icon-bar{
  background-color: #fff;
}

.navbar-collapse{
  max-height: none !important;
}

.cg-top-nav ul.navbar-nav > li.active > a{
  color: #ffe806;
}

/*=============================================================================
                                  PROD SUBMENU
===========================================================================*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);

h1 {
	font-size: 60px;
	text-align: center;
	color: #FFF;
}

h3 {
	font-size: 30px;
	text-align: center;
}

h3 a {
	color: #FFF;
}

a {
	color: #FFF;
}

h1 {
	margin-top: 100px;
	text-align:center;
	font-size:60px;
	}

#container {
	margin: 0 auto;
}

p {
	text-align: center;
}

nav {
	margin: 0px 0;
}

nav ul {
	padding: 0;
  margin: 0;
	list-style: none;
  position: relative;
	}

nav ul li {
  display:inline-block;
	}

nav li a.smooth-scroll {
  color: white;
}

nav a {
	display:block;
	padding:0px;
	color:#fff;
	font-size:15px;
	line-height: 50px;
  text-decoration:none;
}

nav a.smooth-scroll:hover {
  transition: .8s ease-out;
  background-color: white;
  color: black;
}

nav ul li div ul {
  height: 0;
  position: absolute;
  background-color: white;
  top: 42px;
}

/* Fisrt Tier Dropdown */
nav ul ul div li {
  display: none;
}

/* Display Dropdowns on Hover */

nav ul li:hover > div ul {
  display: block;
  height: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

nav ul li:hover ul li{
  display: block;
}

.a-products{
  color: #67696a;
  font-weight: lighter;
  letter-spacing: 2.5px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 13px;
}

.a-products:hover{
  color: #000;
  text-shadow: 0px 0.3px gray;
  text-decoration: none !important;
}

nav ul li:hover {
  transition: background-color .6s ease-out;
  background-color: white;
}

nav ul li:hover a.smooth-scroll{
  color: rgb(70,64,64) !important;
}

nav ul ul li {
width: 170px;
float: none;
position: relative;
margin-left: 29px;
bottom: -26px;
}

nav ul li div {
  display: flex;
  justify-content: center;
  position: relative;
  top: -1000px;
  opacity: 0;
  transition: opacity  ease-out;
}

nav ul li:hover div {
  top: -45px;
  opacity: 1;
}

nav ul ul {
  display: inline-block;
  width: 700px;
  left: -311px;

}

nav ul li img {
  width: 400px;
  height: 200px;
  z-index: 2;
  position: absolute;
  right: -481px;
  top: -1px;
  object-fit: contain;
  filter: brightness(.8);
}

nav ul li img.img-2 {
  top: -51px;
}

nav ul li img.img-3 {
  top: -101px;
}

nav ul li img.img-4 {
  top: -151px;
}

nav ul li img.img-default{
  top: 67px;
  left: -31px;
  z-index: 1;
}


.li-img img{
  transition: opacity .5s ease-in-out;
  opacity: 0;
}

.li-img:hover img {
  opacity: 1;
  z-index: 999;
}


/* /Mobile Nav/ */
.navMobileWrapper{
width: 100%;
height: 10vh;
background-color: rgba(0, 0, 0, 0.71);
padding: 2vw 4vw;
z-index: 100;
color: black;
position: fixed;
display: flex;
justify-content: space-between;
align-items: center;
}



.navMobileBars{
position: fixed;
right: 2.5vw;
}


.navMobile{
width: 100vw;
height: 100vh;
z-index: 1;
background-color: rgba(0, 0, 0, 0.71);
position: fixed;
transition: all 0.8s;
top: 10vh;
left: 100vw;
display: flex;
flex-flow: column nowrap;
align-items: center;
border-top: 1px solid rgba(255, 255, 255, 0.49);
}

.navMobile a{
font-family: 'Roboto Condensed', sans-serif;
font-size: 2rem;
text-decoration: none;
font-weight: 900;
color: #fff;
letter-spacing: 1.5px;
}

.navMobileProductos{
position: relative;
}

.navMobileProductos span{
content: '>';
transition: all 0.8s;
transform: rotate(90deg);
font-size: 2rem;
position: absolute;
top: .5vh;
left: 99%;
}

.navMobileProductos-options{
width: 100%;
overflow: hidden;
height: 0;
transition: all 0.8s;
display: flex;
flex-flow: column nowrap;
align-items: center;
}

.navMobileProductos-options a{
font-size: 1.6rem;
font-weight: lighter;
}

.hamburger .line{
  width: 30px;
  height: 3px;
  background-color: #ffff;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover{
  cursor: pointer;
}

/* ONE */

#hamburger-1.is-active .line:nth-child(2){
  opacity: 0;
}

#hamburger-1.is-active .line:nth-child(1){
  -webkit-transform: translateY(13px) rotate(45deg);
  -ms-transform: translateY(13px) rotate(45deg);
  -o-transform: translateY(13px) rotate(45deg);
  transform: translateY(13px) rotate(45deg);
}

#hamburger-1.is-active .line:nth-child(3){
  -webkit-transform: translateY(-9px) rotate(-45deg);
  -ms-transform: translateY(-9px) rotate(-45deg);
  -o-transform: translateY(-9px) rotate(-45deg);
  transform: translateY(-9px) rotate(-45deg);
}

/*=============================================================================
                                LOGOCG
===========================================================================*/



img.logocg1{
  width: 90%;
  margin-top: -15px;

}

img.logocg2 {
  opacity: 0;
  width: 80%;
  margin-top: -72px;
  position: relative;
}





/*=============================================================================
                                  HOME
===========================================================================*/

#home {
  height: 100%;
}

#home-cover {
  height: 100%;
  background-image: url(../img/portadas/portada.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#home-content-box {
  width: 100%;
  height: 100%;
  display: table;
}

#home-content-box-inner {
  display: table-cell;
  /*ALINEA CONTENIDO EN EL MEDIO DEL PADRE CONTENEDOR*/
  vertical-align: middle;
  /*SE PUEDE USAR TANTO CON TEXT ALIGN COMO CON LA CLASS TEXT-CENTER DE BOOTSTRAP */
  /* text-align: center; */
}

#home-heading h3 {
  color: #fff;
  font-size: 55px;
  font-weight: 700;
  margin: 20px 0 20px 0;
}



/*=============================================================================
                                  PARALLAX EFFECT
===========================================================================*/

.bg-parallax {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /*EFECTO PARALLAX*/
  background-attachment: fixed;
}

/*=============================================================================
                                  CONTENT
===========================================================================*/

.content-box {
  padding: 60px 0 60px 0;
}

.content-title h3 {
  font-size: 23px;
  font-weight: 700;
  text-align: center;
  margin: 0 0 30px 0;
  color: rgb(51, 52, 54);
  letter-spacing: 0.4em;
}

.content-title h3 {
  font-size: 23px;
  font-weight: 700;
  text-align: center;
  margin: 0 0 30px 0;
  color: rgb(51, 52, 54);
  letter-spacing: 0.4em;
}

.content-title-underline {
  width: 30px;
  height: 3px;
  background-color: rgb(232, 222, 88);
  margin: 0 auto 0 auto;
  margin-bottom: 30px;
}


.content-title-white h3 {
  color: #fff;
}

/*=============================================================================
                                  SUBRAYADO
===========================================================================*/

.underline--magical {
  background-image: linear-gradient(120deg, rgb(232, 222, 88) 0%, #707270 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
}


/*=============================================================================
                                  BUTTONS
===========================================================================*/

.btn-general {
  border-width: 5px;
  border-radius: 0;
  padding: 12px 26px 12px 26px;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.btn-white {
  border-color: #fff;
  color: #fff;
}

.btn-white:hover, .btn-white:focus {
  background-color: #fff;
  color: #41464b;
}

.btn-blue {
  border-color: rgb(232, 222, 88);
  color: #707270;
}

.btn-blue:hover, .btn-blue:focus {
  background-color: rgb(232, 222, 88);
  color: #fff;
}

.btn-back-to-top{
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 22px;
  padding: 3px 15px;
  border-radius: 0;
  display: none;
}

/*=============================================================================
                                SABER MAS
===========================================================================*/

.home-nosotros {
  height: 55%;
}


.description{
  height: 45%;
  background-color: #fff;
}

#descrip-cover {
  height: 100%;
  background-image: url(../img/portadas/portada3byn.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



#lead{
  color: #000;
  font-size: 16px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: lighter;
  flex-direction: rgb(35, 35, 36);
  text-align: center !important;
  margin-top: 8%;
  margin-bottom: 8%;
  letter-spacing: 0.09em;
}





/*=============================================================================
                                  ESTADÍSTICAS
===========================================================================*/

#stats{
  margin-bottom: 50px;
}


#stats-cover {
  background-image: url(../img/portadas/portada1.jpg)!important;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

#stats .content-box {
  background-color: rgba(0, 0, 0, 0.8);
}

.stats-item {
  padding: 100px 0;
}

.stats-item h2 {
  color: rgb(232, 222, 88);
  font-size: 35px;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 1px;
  text-align: center;
}

.stats-item p {
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center !important;
}


/*=============================================================================
                                  NOSOTROS
===========================================================================*/

/*selecciona todas las columnas dentro de .row.no-gutters*/

.row.no-gutters [class*=col-] {
  padding-left: 0;
  padding-right: 0;
}

.img-wrapper {
  overflow: hidden;
}

.img-wrapper img {
  -webkit-filter: grayscale(100%);
  	filter: grayscale(100%);
  	-webkit-transition: .3s ease-in-out;
  	transition: .3s ease-in-out;
}

.img-wrapper img:hover {
  -webkit-filter: grayscale(0);
	filter: grayscale(0);
}
.img-wrapper img:hover {
-webkit-transition: 1s ease;
transition: 1s ease;
-webkit-transform: scale(1.08);
transform: scale(1.08);
}


/*=============================================================================
                                  SOCIAL
===========================================================================*/

.social-list {
  padding-left: 0;
}

.social-list li {
  list-style: none;
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 6px;
  margin-top: 10px;
}

.social-icon i {
  font-size: 17px;
}

.icon-gray i {
  color: #64707b;
}

.social-icon i:hover {
  color: rgb(232, 222, 88);
}

.icon-white i{
  color: #fff;
}



/*=============================================================================
                                  CONTACTO
===========================================================================*/

footer{
  background-color: #41464b;
  padding-top: 30px;
  border-top: 5px solid rgba(0,0,0,0.1);
  padding-bottom: 10px;
}

#contact-left h3, #contact-right h3{
  color: #fff;
  font-size: 27px;
  font-weight: 700;
}

#contact-left p{
  color: #fff;
  font-size: 14px!important;
  margin-bottom: 30px;
}

address{
  color: #fff;
}

address strong, #phone-email strong{
  letter-spacing: 1px;
}

form .form-control{
  background: transparent;
  border-radius: 0;
  border-color: #fff;
  font-size: 17px;
  font-weight: 300;
  padding: 8px 16px;
  margin-bottom: 20px;
  color: #fff;
}




/*=============================================================================
                                  FOOTER
===========================================================================*/

#footer-bottom{
  background-color: #bdb555;
  padding: 30px 0;
  margin-top: 60px;
}

#footer-copyrights p{
  margin:0;
  color: #fff;
}

#footer-menu{
  float: left;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
}

#footer-menu ul{
  list-style: none;
  padding-left: 0;
  margin: 0;
}

#footer-menu ul li{
  display: inline-block;
}

#footer-menu a{
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  margin: 0 10px;
  text-decoration: none;
}

#footer-menu a:hover{
  color:rgb(51, 51, 51);
}

#cg-footer-title{
  width: 12%;
  margin-bottom: 10px;
}
