/*=============================================================================
                                  CSS GENERAL
===========================================================================*/

html, body {
  height: 100%;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
}

h3 {
  text-transform: uppercase;
  color: #41464B;
}

p {
  color: #64707b;
  font-size: 16px;
  font-weight: 300;
}

/*=============================================================================
                                  HOME
===========================================================================*/


#home-productos {
  height: 2000px;
}

#home-cover {
  height: 100%;
background-image: url(../img/otra2bis.jpg);
  background-repeat: repeat;
  display: flex;
  align-items: stretch;
  perspective: 1500px;
}

#home-content-box {
  width: 100%;
  height: 100%;
  display: table;
} */


#home-content-box-inner {
  display: table-cell;
  /*ALINEA CONTENIDO EN EL MEDIO DEL PADRE CONTENEDOR*/
   vertical-align: middle;
  /*SE PUEDE USAR TANTO CON TEXT ALIGN COMO CON LA CLASS TEXT-CENTER DE BOOTSTRAP */
  text-align: center;
}







/*=============================================================================
                                  SUBRAYADO
===========================================================================*/

.underline--magical {
  background-image: linear-gradient(120deg, #d5c84b 0%, #707270 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
}

/* .underline--magical:hover{
  transition: 0.25s ease-in;
  background-size: 100% 88%;
} */


/*=============================================================================
                                  PARALLAX EFFECT
===========================================================================*/

.bg-parallax {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /*EFECTO PARALLAX*/
  background-attachment: fixed;
}

/*=============================================================================
                                  ANIMATION
===========================================================================*/

#home-cover #home-heading #home-btn {
  -vendor-animation-duration: .3s;
}

#home-cover {
  -vendor-animation-delay: .1s;
}

#home-heading {
  animation-delay: .3s
}

#home-btn {
  animation-delay: .1s;
}

/*=============================================================================
                                  BUTTONS
===========================================================================*/

.btn-general {
  border-width: 5px;
  border-radius: 0;
  padding: 12px 26px 12px 26px;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.btn-white {
  border-color: #fff;
  color: #fff;
}

.btn-white:hover, .btn-white:focus {
  background-color: #fff;
  color: #41464b;
}

.btn-blue {
  border-color: #d5c84b;
  color: #707270;
}

.btn-blue:hover, .btn-blue:focus {
  background-color: #d5c84b;
  color: #fff;
}

/*=============================================================================
                                  CONTENT
===========================================================================*/

.content-box {
  padding: 60px 0 60px 0;
}

.content-title h3 {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin: 0 0 30px 0;
}

.content-title-underline {
  width: 30px;
  height: 3px;
  background-color: #d5c84b;
  margin: 0 auto 0 auto;
  margin-bottom: 30px;
}

.content-title-white h3 {
  color: #fff;
}





/*=============================================================================
                                  OBRAS
===========================================================================*/

/*selecciona todas las columnas dentro de .row.no-gutters*/

.row.no-gutters [class*=col-] {
  padding-left: 0;
  padding-right: 0;
}

.img-wrapper {
  overflow: hidden;
}

.img-wrapper img {
  transition: transform .5s ease;
  /*delay del zoom */
}



.img-wrapper img:hover {
  transform: scale(1.5);
  /*1.5 del tamano original en hover */
  cursor: zoom-in;
}








/*=============================================================================
                                  CONTACTO
===========================================================================*/

footer{
  background-color: #41464b;
  padding-top: 30px;
  border-top: 5px solid rgba(0,0,0,0.1);
  padding-bottom: 10px;
}

#contact-left h3, #contact-right h3{
  color: #fff;
  font-size: 27px;
  font-weight: 700;
}

#contact-left p{
  color: #fff;
  margin-bottom: 30px;
}

address{
  color: #fff;
}

address strong, #phone-email strong{
  letter-spacing: 1px;
}

form .form-control{
  background: transparent;
  border-radius: 0;
  border-color: #fff;
  font-size: 17px;
  font-weight: 300;
  padding: 8px 16px;
  margin-bottom: 20px;
  color: #fff;
}




/*=============================================================================
                                  NAVIGATION
===========================================================================*/



.navbar{
  padding: 20px 0px;
  transition: all .5s ease-in-out; /*Hace del efecto del ocultamiento del style del menú mas suave */
}

.cg-top-nav{
  background: rgba(0,0,0,0.7);
  padding: 7px 0;

}

.cg-nav-wrapper{
  padding: 0 85px;
}

.navbar-nav{
  float: right;
}

.navbar-nav > li > a{
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}

.navbar-nav > li > a:hover, .navbar-nav > li > a:focus{
  background: none;
  color: #d5c84b;
}

.navbar-toggle{
  background-color: rgba(0,0,0,0.1);
  border: 1px solid #fff;
  border-radius: 0;
}

.navbar-toggle .icon-bar{
  background-color: #fff;
}

.navbar-collapse{
  max-height: none !important;
}

.cg-top-nav ul.navbar-nav > li.active > a{
  color: #d5c84b;
}

.linea {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;

  display: inline-block;
  padding: 15px 20px;
  position: relative;
}
.linea:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 3px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.2s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.linea:hover:after {
  width: 100%;
  left: 0;
}


/*=============================================================================
                                LOGO CG
===========================================================================*/

#logocg{
  width: 90%;
  margin-top: -15px;
}







.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}



/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {

}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: rgb(125, 125, 121);
    color: #fff;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    color: #41464B;
    background-color: #333333;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 180px;

}

#sidebar a{
  color: white;
  font-size: 25px;
  font-weight: 700;
}

#sidebar h3{
  color: white;
  font-size: 25px;
  font-weight: 900;
}

#sidebar.active {
    margin-left: -250px;
    transform: rotateY(100deg);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #333333;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #2c2c2d;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: rgb(125, 125, 121);
    background: #fff;

}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: rgb(125, 125, 121);
    background: rgb(125, 125, 121);
}


#sidebar a[data-toggle="collapse"] {
    position: relative;
}


#sidebar i{
  margin-left: 100px;
}




#sidebar ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #fafafa;
    color: #41464B;
}

#sidebar ul.CTAs {
    padding: 20px;
}

#sidebar ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

#sidebar a.download {
    background: #41464B;
}

#sidebar a.article, a.article:hover {
    color: #fff !important;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 180px;
    margin-right: 40px;
}

#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #CCCCCC;
    margin-top: 180px;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}
#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}


#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}






/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
        transform: rotateY(90deg);
    }
    #sidebar.active {
        margin-left: 0;
        transform: none;
    }
    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }
    #sidebarCollapse.active span {
        margin: 0 auto;
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }

}




/*=============================================================================
                                PRODUCTOS (PORTADA)
===========================================================================*/
