/*============================================================================
                            MEDIA QUERIES
=============================================================================*/







/* Tablets  Medianas y Ipad Pro*/

@media (min-width:992px) and (max-width:1199px) {

/* NAVIGATION */
    .navbar{
      background: rgba(0,0,0,0.7);
      padding: 0;
    }

    .navbar-nav{
      float: left;
    }

    .cg-nav-wrapper{
      margin-top: 10px;
      padding: 0;
    }

    .logocgMobile img{
      opacity: 0;
      width: 30%;
      margin-top: -50px;
      position: relative;
    }

    .navMobileWrapper img{
    width: 25%;
    position: relative;
    left: -6vw;
    }

    /* NOVEDADES */

    img.img-modal-novedad {
      width: 80%;
    }

/* PRODUCTOS/OBRAS */

    .snip1538 h3{
          font-size: 10px;
        }

}



/*Ipad y Tablets */

@media (min-width:768px) and (max-width:991px) {


/* NAVIGATION */

  .navbar{
    background: rgba(0,0,0,0.7);
    padding: 0
  }

  .navbar-nav{
    float: left;
  }

  .cg-nav-wrapper{
    margin-top: 10px;
    padding: 0;
  }

/* NOSOTROS */

  #about-bg-diagonal{
    border-left: 0;
    border-top:0;
    width: 100%;
    height: 350px;
  }

  #about-content-box{
    width: 100%;
    height: 350px;
  }

  #home-heading h3{
    font-size: 45px;
  }
/* ESTADÍSTICAS */

  .stats-item{
    padding: 20px 0;
  }

  /* FOOTER */

#footer-copyrights p{
  text-align: center !important;
}


#home-cover {
  background-attachment: initial;
}

#about-bg-diagonal{
  background-attachment: initial;
}

#descrip-cover{
  background-attachment: initial;
}

#stats-cover{
  background-attachment: initial;
}

.caption h3{
    font-size: 22px;
  }

.caption p{
    font-size: 10px;
}

.snip1538 h3{
      font-size: 10px;
    }

.navMobileWrapper img{
width: 30%;
position: relative;
left: -6vw;
}


/* MODAL  */

.modal-content {
    width: 90%; /* Could be more or less, depending on screen size */
    bottom: 50px;
    padding: 40px !important;
}

img.img-modal-novedad {
  display: none !important;
}


.novedad p{
  font-size: 0.9em;
}



}


/*Mobile */

@media (max-width:767px) {

/* NAVIGATION */

        .navbar{
          background: rgba(0,0,0,0.7);
          padding: 0
        }

        .navbar-nav{
          float: left;
        }

        .cg-nav-wrapper{
          margin-top: 10px;
          padding: 0;
        }

        .navMobileWrapper img{
        width: 40%;
        position: relative;
        left: -6vw;
        }

        nav ul li:hover > div ul {
              display: none;
        }

        nav ul li:hover ul li{
              display: none;
        }

        nav ul li:hover > div img {
              display: none;
        }


/* BUTTON */
        .btn-general{
          padding: 6px 22px 6px 22px;
          font-size: 14px;
        }

/* NOSOTROS */
        #about-bg-diagonal{
          border-left: 0;
          border-top:0;
          width: 100%;
          height: 300px;
        }

        #about-content-box{
          width: 100%;
          height: 350px;
        }

        #about{
          margin-bottom: 50px;
        }


      .img-wrapper img{
        min-width: 100%;
      }

      /* ESTADÍSTICAS */

      .stats-item{
        padding: 20px 0;
      }

      #home-heading h3{
        font-size: 50px;
      }

/* FOOTER */
      #footer-copyrights p{
        text-align: center !important;
      }

      #home-cover {
        background-attachment: initial;
      }

      #about-bg-diagonal{
        background-attachment: initial;
      }

      #descrip-cover{
        background-attachment: initial;
      }

      #stats-cover{
        background-attachment: initial;
      }

/* NOVEDADES */

      .modal-content {
          width: 90%; /* Could be more or less, depending on screen size */
          bottom: 50px;
          padding: 40px;
      }

    img.img-modal-novedad {
        display: none !important;
      }

      .novedad p{
        font-size: 0.9em;
      }

      .novedad{
        width: 80%;
      }
/* PRODUCTOS / OBRAS */

#sidebar{
  display: none !important;
}

      .caption h3{
          font-size: 20px;
          font-weight: 700;
        }

      .caption p{
          font-size: 13px;
      }

      .snip1538 h3{
            font-size: 10px;
          }

      #content{
        width: 100%;
        margin: 120px 0 0 0;
      }

      #lead{
            font-size: 15px;
            vertical-align: center;
            text-align: center;
            margin-top: 9%;
      }



}


@media (max-width:480px) {

/* NOSOTROS */

    #about{
      margin-bottom: 100px;
    }

    .navbar-brand{
      float: none;
    }

    #home-cover {
      background-attachment: initial;
    }

    #about-bg-diagonal{
      background-attachment: initial;
    }

    #descrip-cover{
      background-attachment: initial;
    }

    #stats-cover{
      background-attachment: initial;
    }

    .content-title h3{
      margin-top: 20px;
    }

    #home-heading h3{
      font-size: 35px;
    }


    #lead{
        margin: 7% 10%;
          font-size: 13px;
    }

    #stats-cover{
      background-attachment: initial;
    }

    .bg-parallax{
      background-attachment: initial;
    }

/* PRODUCTOS/OBRAS*/

    #menu-productos img{
      display: none;

    }

    #sidebar{
      display: none !important;
    }

    .caption h3{
        font-size: 15px;
        font-weight: 700;
      }


    .caption p{
        font-size: 10px;
    }

.snip1538 h3{
      font-size: 10px;
    }

    #content{
      width: 100%;
      margin: 120px 0 0 0;
    }

    #home-productos {
      height: 2200px;
    }

/* NAVIGATION */
          .navMobileWrapper img{
          width: 50%;
          position: relative;
          left: -6vw;
          }


/* NOVEDADES*/

.modal-content {
    width: 90%; /* Could be more or less, depending on screen size */
    bottom: 50px;
}

.close {
    color: #262626;
}

img.img-modal-novedad{
  display: none !important;
}

.novedad p{
  font-size: 0.9em;
}

/* OBRAS -> index*/

.descripcion-obra p{
  font-size: 12px;
}


}


@media(max-width:320px){


/* NOSOTROS*/

    #about-content-box{
      margin-top: 40px;
    }

/* NAVIGATION*/
    img.logocg1{
      width: 50%;
      margin-top: -10px;
    }

    img.logocg2 {
      opacity: 0;
      width: 50%;
      margin-top: -32px;
    }

    .navbar-brand{
      float: none;
    }

    #menu-productos img{
      display: none;
    }

    .navMobileWrapper img{
    width: 50%;
    position: relative;
    left: -6vw;
    }

    /* PORTADAS*/

    #home-cover {
  background-attachment: initial;
    }

    #about-bg-diagonal{
      background-attachment: initial;
    }

    #descrip-cover{
      background-attachment: initial;
    }

    #stats-cover{
      background-attachment: initial;
    }

    .bg-parallax{
      background-attachment: initial;
    }


      /* NOVEDADES */

    .modal-content {
        width: 90%; /* Could be more or less, depending on screen size */
        bottom: 50px;
    }

    .close {
        color: #262626;
    }

    img.img-modal-novedad {
  display: none !important;
    }


      /* OBRAS -> index*/

      .descripcion-obra p{
        font-size: 12px;
      }

  /* PRODUCTOS/OBRAS*/

#sidebar{
  display: none !important;
}


.caption h3{
    font-size: 14px;
    font-weight: 700;
  }

  .snip1538 h3{
        font-size: 10px;
      }

.caption p{
    font-size: 10px;
}

#content{
  margin: 180px 30px 0 30px;
}


#home-productos {
  height: 1800px;
}


#lead{
      font-size: 14px;
}



}




/* /Oculta el menu el versiones de escritorio/ */
@media only screen and (min-width: 1250px){
.navMobileWrapper{
   display: none;
}


}

@media only screen and (max-width: 1250px){
body{
   overflow-x: hidden;
}

.navbar{
  display: none;
}
}
