/*=============================================================================
                                  CSS GENERAL
===========================================================================*/

html, body {
  height: 100%;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
}

h3 {
  text-transform: uppercase;
  color: #41464B;
}

p {
  color: #64707b;
  font-size: 16px;
  font-weight: 300;
  text-align: justify !important;
}


/*=============================================================================
                                  LOADER
===========================================================================*/

/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript,
if it's not present, don't show loader */
/* .se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../img/loader.gif) center no-repeat #fff;
} */


/*=============================================================================
                                  HOME
===========================================================================*/

#home {
  height: 100%;
}

#home-cover {
  height: 100%;
  background-image: url(../img/portadas/portada4.jpg);
}

#home-content-box {
  width: 100%;
  height: 100%;
  display: table;
}

#home-content-box-inner {
  display: table-cell;
  /*ALINEA CONTENIDO EN EL MEDIO DEL PADRE CONTENEDOR*/
  vertical-align: middle;
  /*SE PUEDE USAR TANTO CON TEXT ALIGN COMO CON LA CLASS TEXT-CENTER DE BOOTSTRAP */
  /* text-align: center; */
}

#home-heading h3 {
  color: #fff;
  font-size: 55px;
  font-weight: 700;
  margin: 20px 0 20px 0;
}


/*=============================================================================
                                  SUBRAYADO
===========================================================================*/

.underline--magical {
  background-image: linear-gradient(120deg, rgb(232, 222, 88) 0%, #707270 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
}



/*=============================================================================
                                  PARALLAX EFFECT
===========================================================================*/

.bg-parallax {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /*EFECTO PARALLAX*/
  background-attachment: fixed;
}

/*=============================================================================
                                  ANIMATION
===========================================================================*/

#home-cover #home-heading #home-btn{
  -vendor-animation-duration: .3s;
}

#home-cover {
  -vendor-animation-delay: .1s;
}

#home-heading {
  animation-delay: .3s
}

#home-btn {
  animation-delay: .1s;
}

/*=============================================================================
                                  BUTTONS
===========================================================================*/

.btn-general {
  border-width: 5px;
  border-radius: 0;
  padding: 12px 26px 12px 26px;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.btn-white {
  border-color: #fff;
  color: #fff;
}

.btn-white:hover, .btn-white:focus {
  background-color: #fff;
  color: #41464b;
}

.btn-blue {
  border-color: rgb(232, 222, 88);
  color: #707270;
}

.btn-blue:hover, .btn-blue:focus {
  background-color: rgb(232, 222, 88);
  color: #fff;
}

.btn-back-to-top{
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 22px;
  padding: 3px 15px;
  border-radius: 0;
  display: none;
}

/*=============================================================================
                                  CONTENT
===========================================================================*/

.content-box {
  padding: 60px 0 60px 0;
}

.content-title h3 {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin: 0 0 30px 0;
  color: rgb(51, 52, 54);
}

.content-title-underline {
  width: 30px;
  height: 3px;
  background-color: rgb(232, 222, 88);
  margin: 0 auto 0 auto;
  margin-bottom: 30px;
}


.content-title-white h3 {
  color: #fff;
}




/*=============================================================================
                                  ABOUT
===========================================================================*/

#about-bg-diagonal {
  background-image: url(../img/portadas/nosotros2.png);
  width: 60%;
  height: 700px;
  float: right;
  border-left: 200px solid #fff;
  border-top: 700px solid transparent;
  margin-bottom: 60px;
}


#about-content-box {
  float: left;
  height: 700px;
}

#about-content-box-outer {
  width: 100%;
  height: 100%;
  display: table;
}

#about-content-box-inner {
  display: table-cell;
  vertical-align: middle;
}

#about .content-title h3 {
  text-align: left;
}

#about .content-title-underline {
  margin: 0 0 30px 0;
}

#about-description p {
  margin-bottom: 30px;
}


/*=============================================================================
                                  NOVEDADES
===========================================================================*/


.novedad{
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 40px;
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 0 10px 4px 10px;
  height: 480px;
  background-color: #fff;

}

#novedades-list{
margin-bottom: 20px;
}

.novedad h3{
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-size: 15px;
}

.novedad p{
  font-size: 14px;
  text-align: justify;
}

#content-color{
  background-color: rgba(144, 144, 144, 0.06);
}



/*=============================================================================
                                  MODAL NOVEDADES
===========================================================================*/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.modal h3{
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-size: 15px;
}

.modal p{
  font-family: roboto;
  font-size: 12px;
}


.modal img{
  width: 100%;
  height: 80%;
}

/*=============================================================================
                                  OBRAS
===========================================================================*/

/*selecciona todas las columnas dentro de .row.no-gutters*/

.row.no-gutters [class*=col-] {
  padding-left: 0;
  padding-right: 0;
}

.img-wrapper {
  overflow: hidden;
}

.img-wrapper img {
  transition: transform .5s ease;
  /*delay del zoom */
}

.img-wrapper img:hover {
  transform: scale(1.5);
  /*1.5 del tamano original en hover */
  cursor: zoom-in;
}


#obras-btn{
margin-left: 45%;
margin-bottom: 50px;
}


/*=============================================================================
                                  NOSOTROS
===========================================================================*/

.team-member {
  margin: 0 15px;
}

.team-member-info {
  padding: 10px 0 30px 0;
}

h4.team-member-name {
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1px;
  padding-top: 2px
}

h4.team-member-designation {
  color: rgb(232, 222, 88);
  font-size: 15px;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 1px;
  margin-top: 5px;
}

/*=============================================================================
                                  SOCIAL
===========================================================================*/

.social-list {
  padding-left: 0;
}

.social-list li {
  list-style: none;
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 6px;
  margin-top: 10px;
}

.social-icon i {
  font-size: 17px;
}

.icon-gray i {
  color: #64707b;
}

.social-icon i:hover {
  color: rgb(232, 222, 88);
}

.icon-white i{
  color: #fff;
}

/*=============================================================================
                                  clientes
===========================================================================*/

.cliente{
  padding: 40px 0;
}




/*=============================================================================
                                  NAVIGATION
===========================================================================*/



.navbar{
  padding: 20px 0px;
  transition: all .5s ease-in-out; /*Hace del efecto del ocultamiento del style del menú mas suave */
}

.navbar-brand{
  position: block;
}

.cg-top-nav{
  background: rgb(255, 254, 254);
  padding: 7px 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.cg-nav-wrapper{
  padding: 0 85px;
}

.navbar-nav{
  float: right;
}

.navbar-nav > li > a{
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}

.navbar-nav > li > a:hover, .navbar-nav > li > a:focus{
  background: none;
}

.navbar-toggle{
  background-color: rgba(0,0,0,0.1);
  border: 1px solid #fff;
  border-radius: 0;
}

.navbar-toggle .icon-bar{
  background-color: #fff;
}

.navbar-collapse{
  max-height: none !important;
}

.cg-top-nav ul.navbar-nav > li.active > a{
  color: #ffe806;
}

/*=============================================================================
                                  PROD SUBMENU
===========================================================================*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);

h1 {
	font-size: 60px;
	text-align: center;
	color: #FFF;
}

h3 {
	font-size: 30px;
	text-align: center;
}

h3 a {
	color: #FFF;
}

a {
	color: #FFF;
}

h1 {
	margin-top: 100px;
	text-align:center;
	font-size:60px;
	}

#container {
	margin: 0 auto;
}

p {
	text-align: center;
}

nav {
	margin: 0px 0;
}

nav ul {
	padding: 0;
  margin: 0;
	list-style: none;
  position: relative;
	}

nav ul li {
  display:inline-block;
	}

nav li a.smooth-scroll {
  color: white;
}

nav a {
	display:block;
	padding:0 10px;
	color:black;
	font-size:15px;
	line-height: 60px;
  text-decoration:none;
}

nav a.smooth-scroll:hover {
  background-color: white;
  color: black;
}

nav ul li div ul {
  height: 0;
  position: absolute;
  background-color: white;
  top: 42px;
}

/* Fisrt Tier Dropdown */
nav ul ul div li {
  display: none;
}

/* Display Dropdowns on Hover */

nav ul li:hover > div ul {
  display: block;
  height: 347px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

nav ul li:hover ul li{
  display: block;
}

.a-products{
  color: rgb(39, 40, 41);
  font-weight: 700;
}

.a-products:hover{
  color: black;
  text-shadow: 0px 0.1px gray;
  text-decoration: none !important;
}

nav ul li:hover {
  transition: background-color .6s ease-out;
  background-color: white;
}

nav ul li:hover a.smooth-scroll{
  color: rgb(70,64,64) !important;
}

nav ul ul li {
width: 170px;
float: none;
position: relative;
padding-bottom: 13px;
margin-left: 29px;
bottom: -27px;
border-left: 4px solid rgb(232, 222, 88);
}

nav ul li div {
  display: flex;
  justify-content: center;
  position: relative;
  top: -1000px;
  opacity: 0;
  transition: opacity .6s ease-out;
}

nav ul li:hover div {
  top: -45px;
  opacity: 1;
}

nav ul ul {
  display: inline-block;
  width: 794px;
  left: -311px;

}

nav ul li img {
  width: 500px;
  height: 300px;
  z-index: 2;
  position: absolute;
  right: -581px;
  top: -2px;
  object-fit: contain;
}

nav ul li img.img-2 {
  top: -75px;
}

nav ul li img.img-3 {
  top: -148px;
}

nav ul li img.img-4 {
  top: -221px;
}

nav ul li img.img-default{
  top: 67px;
  left: -31px;

  z-index: 1;
}


.li-img img{
  transition: opacity .5s ease-in-out;
  opacity: 0;
}

.li-img:hover img {
  opacity: 1;
  z-index: 999;
}

/*=============================================================================
                                LOGOCG
===========================================================================*/



img.logocg1{
  width: 90%;
  margin-top: -15px;

}

img.logocg2 {
  opacity: 0;
  width: 90%;
  margin-top: -72px;
  position: relative;
}



/*=============================================================================
                                MAPA
===========================================================================*/

#map {
       height: 80%;
       margin-top: 30px;
     }


#map-content h5{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 15px;
    text-align: left;
}

#map-content strong{
    font-size: 13px;
    text-align: left;

}


#map-content a{
  font-size: 10px;
  text-align: left;
  font-weight: 800;
  text-transform: uppercase;
  color: rgb(200, 199, 83);
}


/*=============================================================================
                                FLECHA PORTADA
===========================================================================*/



.arrow {
  opacity: 0;
  position: absolute;
  left: 49%;
  top: 80%;
  transform-origin: 50% 50%;
  transform: translate3d(-50%, -50%, 0);
}
.arrow-first {
  animation: arrow-movement 2s ease-in-out infinite;
}
.arrow-second {
  animation: arrow-movement 2s 1s ease-in-out infinite;
}
.arrow:before, .arrow:after {
  background: #fff;
  content: '';
  display: block;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
}
.arrow:before {
  transform: rotate(45deg) translateX(-23%);
  transform-origin: top left;
}
.arrow:after {
  transform: rotate(-45deg) translateX(23%);
  transform-origin: top right;
}
@keyframes arrow-movement {
  0% {
    opacity: 0;
    top: 78%;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


/*=============================================================================
                                  CONTACTO
===========================================================================*/

footer{
  background-color: #41464b;
  padding-top: 30px;
  border-top: 5px solid rgba(0,0,0,0.1);
  padding-bottom: 10px;
}

#contact-left h3, #contact-right h3{
  color: #fff;
  font-size: 27px;
  font-weight: 700;
}

#contact-left p{
  color: #fff;
  margin-bottom: 30px;
}

address{
  color: #fff;
}

address strong, #phone-email strong{
  letter-spacing: 1px;
}

form .form-control{
  background: transparent;
  border-radius: 0;
  border-color: #fff;
  font-size: 17px;
  font-weight: 300;
  padding: 8px 16px;
  margin-bottom: 20px;
  color: #fff;
}





/*=============================================================================
                                  FOOTER
===========================================================================*/

#footer-bottom{
  background-color: #bdb555;
  padding: 30px 0;
  margin-top: 60px;
}

#footer-copyrights p{
  margin:0;
  color: #fff;
}

#footer-menu{
  float: left;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
}

#footer-menu ul{
  list-style: none;
  padding-left: 0;
  margin: 0;
}

#footer-menu ul li{
  display: inline-block;
}

#footer-menu a{
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  margin: 0 10px;
  text-decoration: none;
}

#footer-menu a:hover{
  color:rgb(51, 51, 51);
}

#cg-footer-title{
  width: 12%;
  margin-bottom: 10px;
}
